body {
  max-width: 100vw;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

input,
select,
textarea,
.radios,
.checks {
  font-weight: bold;
  width: 250px;
  margin: 0 35px 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}

textarea {
  height: 70px;
  resize: none;
}

.radios {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

label {
  display: flex;
  margin-bottom: -20px;
}

.labelChecked {
  font-weight: bold;
  color: #748194;
  margin: -5px 0 -15px 35px;
}

input[type='checkbox'] {
  width: 20px;
  margin-top: -8px;
  margin-left: 40px;
}

input[type='radio'] {
  width: 20px;
  margin: -10px 10px 10px 0;
}

button {
  width: 250px;
  height: 57px;

  cursor: pointer;
  border: none;
  background: #4caf50;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 18px;
}

button:hover {
  filter: brightness(0.9);
}
